@font-face {
    font-family: 'Square721BT';
    src: url('/fni_consulting/static/fonts/square_721_bt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;}

.fn_font {
    font-family: 'Square721BT' !important;
    }