.table-main {
    font-size: 14px !important;
}

.table-local-summary {
    font-size: 13px !important;
}

.table-main-summary {
    font-size: 15.5px !important;
}

.table-main-summary .highlight-total {
    font-size: 16.5px !important;
    font-weight: 700 !important;
}

.nopage-break-block {
    page-break-inside: avoid;
    display: block;
}

.details-block {
    page-break-inside: avoid;
    display: block;
}

.details-block, .details-block p {
    page-break-inside: avoid;
}

th {
  font-weight: 900;
  text-transform: uppercase;
}