.table-local-summary {
    font-size: 14px !important;
}

.table-main-summary {
    font-size: 17.5px !important;
}

.table-main-summary .highlight-total {
    font-size: 18.5px !important;
    font-weight: 700 !important;
}

.nopage-break-block {
    page-break-inside: avoid;
    display: block;
}

.details-block {
    page-break-inside: avoid;
    display: block;
}

.details-block, .details-block p {
    page-break-inside: avoid;
}

th {
  font-weight: 900;
  text-transform: uppercase;
}

.o_report_layout_striped .fni-header-company-address {
    margin-right: 500px;   /* tune as you like */
}