.table-local-summary {
    font-size: 14px !important;
}

.table-main-summary {
    font-size: 17px !important;
}

.table-main-summary .highlight-total {
    font-size: 18px !important;
    font-weight: 700 !important;
}
