.table-local-summary {
    font-size: 14px !important;
}

.table-main-summary {
    font-size: 17.5px !important;
}

.table-main-summary .highlight-total {
    font-size: 18.5px !important;
    font-weight: 700 !important;
}

.bank-details-block {
    page-break-inside: avoid;
    display: block;
}

.bank-details-block, .bank-details-block p {
    page-break-inside: avoid;
}


.o_main_table th{
    border-top: none !important;
    }

.o_main_table th,
.o_main_table td {
    border-left: none !important;
    border-right: none !important;
}