.table-local-summary {
    font-size: 14px !important;
}

.table-main-summary {
    font-size: 17.5px !important;
}

.table-main-summary .highlight-total {
    font-size: 18.5px !important;
    font-weight: 700 !important;
}

.bank-details-block {
    page-break-inside: avoid;
    display: block;
}

.bank-details-block, .bank-details-block p {
    page-break-inside: avoid;
}


/* Remove outer border of main invoice table */
.o_main_table {
    border: none !important;          /* remove box border */
    border-collapse: collapse;
}

/* already removed verticals earlier – keep it here if needed */
.o_main_table th,
.o_main_table td {
    border-left: none !important;
    border-right: none !important;
}

/* remove top border (first row) */
.o_main_table thead tr:first-child th {
    border-top: none !important;
}

/* remove bottom border (last row) */
.o_main_table tbody tr:last-child td {
    border-bottom: none !important;
}